{%extends "base.html"%}
{%block main%}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a class="text-decoration-none" href="/dashboard/">Dashboard</a></li>
        <li class="breadcrumb-item "><a class="text-decoration-none" href="/recent-transactions/">Transaction</a></li>
        <li class="breadcrumb-item active">Add Transaction</li>
    </ol>
  </nav>
  

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Add</button>
            </form>
        </div>
        <div class="col-lg-6 col-md-6 d-none d-md-block">
            <div class="p-3 border bg-light" style="box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); border-radius: 10px;">
                <h3>Recently Added</h3>
                <table id = "recentAdded" class="table"></table>
            </div>
            <script>
                function fetchTransactions(year,month) {
                    $.ajax({
                        url: `/get_transactions/${year}/${month}/`,
                        type: 'GET',
                        success: function(data){
                            $("#recentAdded").empty();
                            if (data.transactions.length > 0) {
                                var len = data.transactions.length;
                                for (var i = len - 1; i >= len -5; i--)
                                {
                                    var typeClass = data.transactions[i].type==="Income"?"income" : (data.transactions[i].type==="Expense"?"expense": "")
                                    $('#recentAdded').append(
                                        '<tr class="' +typeClass + '">' +
                                            '<td>' + data.transactions[i].amount + '</td>' +
                                            '<td>' + data.transactions[i].category + '</td>' +
                                        '</tr>'
                                    );                        
                                }
                            }
                            else {
                                $('#recentAdded').append('<td>No transactions added recently.</td>');
                            }
                        }

                    });
                }
                $(document).ready(function(){
                    fetchTransactions(2024,5);
                });
            </script>
        </div>
    </div>
</div>


{%endblock main%}