{%extends "base.html"%}
{%block head%}
<style>
</style>
{%endblock head%}
{%block main%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/" class="text-decoration-none">
              <i class="fas fa-home"></i> Home
          </a>
          
      </li>
      <li class="breadcrumb-item active">
          <i class="fas fa-file-alt"></i> Dashboard
      </li>
  </ol>
</nav>
<div class="row g-4">
  <div class="col-lg-4 col-md-6">
    <div>
      <h3 style="color: red; text-align: center;">Expenses</h3>
    </div>
    <div class="input-group">
      <select id="month" class="form-control">
          <option value="01">January</option>
          <option value="02">February</option>
          <option value="03">March</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
      </select>

      <select id="year" class="form-control">
          <option value="2023">2023</option>
          <option value="2024">2024</option>
      </select>
  </div>
  <canvas id="myChart"></canvas>
  <script>
    async function fetchData(month, year) {
      try {
        const response = await fetch(`/get_expenses/${year}/${month}/`);
        const data = await response.json();
        console.log('Fetched data:', data); // Debug: Log the fetched data
        return data;
      } catch (error) {
        console.error('Error fetching data:', error); // Debug: Log any fetch errors
        return null;
      }
    }

    async function createChart(month, year) {
      const data = await fetchData(month, year);
      if (!data) {
        console.error('No data available for the selected month and year');
        return;
      }
      const ctx = document.getElementById('myChart').getContext('2d');

      // Destroy previous chart instance if it exists and is a Chart instance
      if (window.myChart instanceof Chart) {
          window.myChart.destroy();
      }

      window.myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: data.labels,
          datasets: [{
            label: 'Expense',
            data: data.values,
            backgroundColor: data.colors,
            borderColor: data.colors.map(color => color.replace('70%, 50%', '70%, 70%')),
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'right',
            },
            tooltip: {
              enabled: true
            }
          }
        }
      });

      console.log('Chart created with data:', data); // Debug: Log the data used to create the chart
    }

    function getCurrentMonthAndYear() {
      const now = new Date();
      const month = String(now.getMonth() + 1).padStart(2, '0');
      const year = String(now.getFullYear());
      return { month, year };
    }

    document.getElementById('month').addEventListener('change', () => {
      const month = document.getElementById('month').value;
      const year = document.getElementById('year').value;
      createChart(month, year);
    });

    document.getElementById('year').addEventListener('change', () => {
      const month = document.getElementById('month').value;
      const year = document.getElementById('year').value;
      createChart(month, year);
    });

    // Initialize the chart with the current month and year
    window.addEventListener('DOMContentLoaded', (event) => {
      const { month, year } = getCurrentMonthAndYear();
      document.getElementById('month').value = month;
      document.getElementById('year').value = year;
      createChart(month, year);
    });
  </script>
  </div>

  <div class="col-lg-4 col-md-6">
    <div>
      <h3 style="color: blue; text-align: center;">Budgets</h3>
    </div>
    {%for item in data%}
    <h6>{{item.category}}</h6>
    {%if item.expense_percentage < 60 %}
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{item.expense_percentage}}%" aria-valuenow="{{item.expense_percentage}}" aria-valuemin="0" aria-valuemax="100">{{item.expense_percentage}}%</div>
    </div>
    {%elif item.expense_percentage < 90 %}
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{item.expense_percentage}}%" aria-valuenow="{{item.expense_percentage}}" aria-valuemin="0" aria-valuemax="100">{{item.expense_percentage}}%</div>
    </div>
    {%elif item.expense_percentage < 99 %}
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{item.expense_percentage}}%" aria-valuenow="{{item.expense_percentage}}" aria-valuemin="0" aria-valuemax="100">{{item.expense_percentage}}%</div>
    </div>
    {%else%}
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{item.expense_percentage}}%" aria-valuenow="{{item.expense_percentage}}" aria-valuemin="0" aria-valuemax="100">{{item.expense_percentage}}%</div>
    </div>
    {%endif%}
    <table class="table">
      <tr>
        <td class= "text-primary">{{item.budget}}</td><td class= "text-danger">{{item.expense}}</td><td class= "text-success">{{item.amount_left}}</td>
      </tr>
    </table>
    {%endfor%}
     
  </div>

  <div class="col-lg-4 col-md-12">
    <div>
      <h3 style="color: green; text-align: center;">Goals</h3>
    </div>
     
</div>



{%endblock main%}